.profile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    min-height: 100%;
    margin-top: 20px;
}

.descriptionBlock {
    width: 40%;
}

.myPostsContainer {
    width: 40%;
}
