.profile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    min-height: 100%;
    margin-top: 20px;
}


.descriptionBlock {
    width: 35%;
}

.myPostsContainer {
    width: 35%;
}


@media screen and (max-width: 570px) {
    .profile {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
    }

    .descriptionBlock {
        width: 95%;
        margin: 5px;
    }

    .myPostsContainer {
        width: 95%;
        margin: 5px;
    }
}
