.profile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    min-height: 100vh;
    margin-top: 20px;
}

/*.descriptionBlock {*/
/*    display: flex;    */
/*}*/

/*.myPostsContainer {*/
/*    display: flex;*/
/*}*/


