.paginatorAndUsers {
   display:flex;
   flex-direction: column;
   justify-content: space-between;
}

.paginator {
   display:flex;
   flex-direction: row;
   justify-content: center;
}

.users {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   align-content: center;
}

