.formControl {

}

.formControl.error input,
.formControl.error textarea {
    border: red 2px solid;
}

.formControl.error span {
    color: red;
}

.formSummaryError {
    border: red 1px solid;
    padding: 5px;
    color: red;
}


.button {
    width: 100px;
    font-size: 14px;
    text-decoration: none;
    color: white;
    font-family: inherit;
    line-height: 20px;
    background-color: #4bb34b;
    border-radius: 4px;
}
