.header {
    /*grid-area: h;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
}

.logo {
    width: 50%;
    /*height: 100%;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*!*align-content: center;*!*/
}

.logo img {
    width: 220px;
    height: 40px;
    border-radius: 4px;
}




.img {
    width: 30px;
    height: 30px;
}

.loginBlock {
    width: 50%;
    display: flex;
    flex-direction: row;


}

.login {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-family: sans-serif;
    font-size: 18px;
    color: black;
    margin-right: 25px;
}

.loginItem {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: auto;
    border: 1px black;
    background-color: rgb(232, 240, 254);
    /*background-color: #4bb34b;*/
    border-radius: 4px;
}

.button {
    width: 100px;
    font-size: 14px;
    color: white;
    font-family: inherit;
    line-height: 20px;
    background-color: #4bb34b;
    border-radius: 4px;
}

.loginReg {
    width: 100px;
    border: 1px black;
}
