.descriptionBlock {
    padding: 10px;
}

.profileUserPhoto {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.photo{
    width: 200px;
    height: 200px;
    border-radius: 4px;
    text-align: center;

}

.contact {
    padding-left: 10px;
}

.formSummaryError {
    border: red 1px solid;
    padding: 5px;
    color: red;
}

.formControl.error input,
.formControl.error textarea {
    border: red 2px solid;
}

.formControl.error span {
    color: red;
    justify-content: center;
    align-items: center;
}

.edit {
    display:flex;
    justify-content: center;
    align-items: center;
}

.color {
    color: #626d7a;
    font-size: 17px;
}

.professional {
    width: 300px;
}

.button {
    width: 250px;
    height: 20px;
    border-radius: 4px;
    background-color: rgb(232, 240, 254);
    color: black;
}