.descriptionBlock {
    padding: 10px;
}

.profileUserPhoto {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.photo{
    width: 40%;
    height: 40%;
    border-radius: 4px;
    text-align: center;
}

.abc {
    text-align: center;
}

.custom {
    color: transparent;
    margin-top: 5px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 55%;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

.custom::-webkit-file-upload-button {
    visibility: hidden;
}
.custom::before {
    content: 'Выберите файл';
    color: black;
    text-align: center;
    display: inline-block;
    float: left;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: pre-wrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
}

@media screen and (max-width: 680px) {
    .custom {
        width: 55%;
        white-space: pre-wrap;
    }
}

.custom:hover::before {
    border-color: black;
}
.custom:active {
    outline: 0;
}
.custom:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.contact {
    padding-left: 10px;
}

.formSummaryError {
    border: red 1px solid;
    padding: 5px;
    color: red;
}

.formControl.error input,
.formControl.error textarea {
    border: red 2px solid;
}

.formControl.error span {
    color: red;
    justify-content: center;
    align-items: center;
}

.edit {
    display:flex;
    justify-content: center;
    align-items: center;
}

.color {
    color: #626d7a;
    font-size: 17px;
}

.professional {
    width: 300px;
}

.button {
    width: 250px;
    height: 20px;
    border-radius: 4px;
    background-color: rgb(232, 240, 254);
    color: black;
}

.preloader {
    position: relative;

}