.app-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: sans-serif;
    min-height: 100vh;
    width: 100%;
}

.navbarAndContent {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #dce1e6;
    height: 100%;
    min-height: 100vh;
    padding: 20px;
    /*background-color: blue;*/
    /*min-height: 100vh;*/
}

.navbar {
    width: 20%;
    /*height: 100%;*/
    /*background-color: green;*/
    background-color: #dce1e6;
    /*height: 100%;*/
    /*min-height: 100vh;*/
    /*min-height: 100vh;*/

}

.app-wrapper-content {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*padding: 10px;*/
    /*min-height: 100vh;*/
    /*min-height: 100vh;*/
}

.app-wrapper-conten-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*border: 1px solid;*/
    border-radius: 4px;
    width: 95%;
    padding: 10px;
    background-color: #ffffff;

    /*min-height: 100vh;*/
}













