.dialogs {
    /*display: grid;*/
    /*grid-template-columns: 2fr 10fr;*/

    min-height: 100vh;

}

.dialogsItems {
    padding: 10px;

}

.dialogsItems .active {
    color: gold;
}

.messages {
    padding: 10px;
}

.message {

}